.services
  .service-card-grid
    display: grid
    grid-template-columns: 1fr
    margin-top: 3rem
    margin-bottom: 3rem
    @media screen and (min-width:640px)
      grid-template-columns: repeat(2,1fr)
      grid-gap: 3rem 2rem
    @media screen and (min-width:960px)
      grid-template-columns: repeat(2,1fr)
      grid-gap: 4rem 2rem
    .ContentCardAndImage
      display: flex
      padding-bottom: 1rem
      .content
        background-color: $c-lightgrey
        padding:1.5rem
        margin: 1.5rem 0rem
        border-radius: 8px
      img 
        width: 75%
        margin: 0 auto
      @media screen and (min-width:640px)
        &.top
          flex-direction: column-reverse
          .content 
              margin-bottom: 0rem
              margin-top: 2.5rem
        &.bottom
          flex-direction: column
          margin-bottom: 2.5rem
          margin-top: 0rem
      
.solutions 
  background-color: $c-yellow
  h2 
    color: $c-invert
  .home-solution-grid
    display: grid
    grid-template-columns: 1fr
    margin-top: 3rem
    margin-bottom: 3rem
    @media screen and (min-width:640px)
      grid-template-columns: repeat(3,1fr)
      grid-gap: 3rem 2rem
    .ContentCardAndImageCTA
      display: flex
      padding-bottom: 1rem
      flex-direction: column
      background-color: $c-lightgrey
      padding:2rem
      border-radius: 8px
      .content
        margin-bottom: 2rem

.how-it-works
  .list-item-container
    margin-top: 1rem
    margin-bottom: 2rem
    .list-item
      margin-top: 1rem
      margin-bottom: 1rem
  .primary-cta
    margin-bottom: 2rem